<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ultimatum | <%= locals.title %></title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  
  <header>
    <a href="/">ULTIMATUM</a>
    <% if(locals.user) { %>
      <a href="/logout">Log out</a>
    <% } %>
  </header>

  <main>
    <% if(!locals.main) { %>
      <p class="error">No page provided.</p>
    <% } else { %>
      <%- include(locals.main, { ...locals }) %>
    <% } %>
  </main>

  <footer>
    Ultimatum Corporations &copy; 2023
  </footer>

</body>
</html>